{% extends "base.html" %}

{% block content %}
    <h2>Adicionar Cidade</h2>
    <form method="POST" action="{{ url_for('create') }}">
        <label for="codigo_cidade">Código da Cidade:</label>
        <input type="number" id="codigo_cidade" name="codigo_cidade" required>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado" required>
        <input type="submit" value="Adicionar Cidade">
    </form>
{% endblock %}
