{% extends "base.html" %}

{% block content %}
    <h2>Editar Cidade</h2>
    <form method="POST" action="{{ url_for('edit', cidade_id=cidade.id) }}">
        <label for="codigo_cidade">Código da Cidade:</label>
        <input type="number" id="codigo_cidade" name="codigo_cidade" value="{{ cidade.codigo_cidade }}" required>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ cidade.nome }}" required>
        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado" value="{{ cidade.estado }}" required>
        <input type="submit" value="Salvar Alterações">
    </form>
{% endblock %}

